## Advanced Data Engineering Assignment 1

### 1. Load Data (CSV, Lists, Dicts)

In [19]:
import pandas as pd

# Read data from csv
data=pd.read_csv("transactions_1000.csv")

# Read data from dictionary
data_dict={
    "transaction_id":[1,2,3,4,5],
    "store_id":[1,2,3,1,2], 
    "store_name":["Downtown","Suburb","Airport","Downtown","Suburb"],
    "customer_id":[1,2,3,4,5],
    "date":["2025-10-08","2025-10-20","2025-10-07","2025-10-15","2025-10-17"],
    "product_id":[1,2,3,4,5],
    "product_name":["Highlighter","Pen","Folder","Stapler","Notebook"],
    "quantity":[4,2,6,6,4],
    "unit_price":[0.9,0.8,1.2,5.25,3.5],
    "total":[3.6,1.6,7.2,31.5,10.5],
    "promo_code":["DISC10",None,"DISC10",None,"DISC5"]  
}

df=pd.DataFrame(data_dict)
print(df)

print(data)

   transaction_id  store_id store_name  customer_id        date  product_id  \
0               1         1   Downtown            1  2025-10-08           1
1               2         2     Suburb            2  2025-10-20           2
2               3         3    Airport            3  2025-10-07           3
3               4         1   Downtown            4  2025-10-15           4
4               5         2     Suburb            5  2025-10-17           5

  product_name  quantity  unit_price  total promo_code
0  Highlighter         4        0.90    3.6     DISC10
1          Pen         2        0.80    1.6       None
2       Folder         6        1.20    7.2     DISC10
3      Stapler         6        5.25   31.5       None
4     Notebook         4        3.50   10.5      DISC5
     transaction_id  store_id store_name        date  product_id product_name  \
0              1001         3    Airport  2025-10-08         506  Highlighter
1              1002         3    Airport  2025-10-20         502          Pen
2              1003         3    Airport  2025-10-07         504       Folder
3              1004         1   Downtown  2025-10-15         503      Stapler
4              1005         1   Downtown  2025-10-17         502          Pen
..              ...       ...        ...         ...         ...          ...
995            1996         1   Downtown  2025-10-02         502          Pen
996            1997         3    Airport  2025-10-02         505       Marker
997            1998         3    Airport  2025-10-14         505       Marker
998            1999         1   Downtown  2025-10-16         506  Highlighter
999            2000         1   Downtown  2025-10-26         502          Pen

     quantity  unit_price  total  customer_id promo_code
0           4        0.90   3.60       2043.0     DISC10
1           2        0.80   1.60          NaN        NaN
2           6        1.20   7.20       2084.0        NaN
3           6        5.25  31.50       2081.0        NaN
4           4        0.80   3.20       2010.0        NaN
..        ...         ...    ...          ...        ...
995        10        0.80   8.00       2013.0        NaN
996         1        1.75   1.75       2028.0        NaN
997         7        1.75  12.25          NaN        NaN
998         3        0.90   2.70          NaN        NaN
999        10        0.80   8.00       2084.0     DISC10

[1000 rows x 11 columns]

### 2. Filtering & Subsetting

In [20]:
import datetime
import dateutil
import dateutil

# Subset of columns
subset_data=data[["transaction_id","date","total"]]
print(f"The subset of columns is \n{subset_data}")

data["date"]=pd.to_datetime(data["date"])
print(data["date"])

# Filter by date
start_date="2025-10-01"
end_date="2025-10-10"
date_range=(data["date"]>=start_date) & (data["date"]<=end_date)
filtered_dates=data.loc[date_range]
print(f"The filtered transactions are \n{filtered_dates}")

The subset of columns is
     transaction_id        date  total
0              1001  2025-10-08   3.60
1              1002  2025-10-20   1.60
2              1003  2025-10-07   7.20
3              1004  2025-10-15  31.50
4              1005  2025-10-17   3.20
..              ...         ...    ...
995            1996  2025-10-02   8.00
996            1997  2025-10-02   1.75
997            1998  2025-10-14  12.25
998            1999  2025-10-16   2.70
999            2000  2025-10-26   8.00

[1000 rows x 3 columns]
0     2025-10-08
1     2025-10-20
2     2025-10-07
3     2025-10-15
4     2025-10-17
         ...
995   2025-10-02
996   2025-10-02
997   2025-10-14
998   2025-10-16
999   2025-10-26
Name: date, Length: 1000, dtype: datetime64[ns]
The filtered transactions are
     transaction_id  store_id store_name       date  product_id product_name  \
0              1001         3    Airport 2025-10-08         506  Highlighter
2              1003         3    Airport 2025-10-07         504       Folder
5              1006         3    Airport 2025-10-10         504       Folder
13             1014         3    Airport 2025-10-07         505       Marker
19             1020         3    Airport 2025-10-05         502          Pen
..              ...       ...        ...        ...         ...          ...
984            1985         2     Suburb 2025-10-06         502          Pen
986            1987         3    Airport 2025-10-10         506  Highlighter
991            1992         3    Airport 2025-10-05         504       Folder
995            1996         1   Downtown 2025-10-02         502          Pen
996            1997         3    Airport 2025-10-02         505       Marker

     quantity  unit_price  total  customer_id promo_code
0           4        0.90   3.60       2043.0     DISC10
2           6        1.20   7.20       2084.0        NaN
5           7        1.20   8.40          NaN     DISC10
13          6        1.75  10.50       2083.0        NaN
19          7        0.80   5.60       2085.0      DISC5
..        ...         ...    ...          ...        ...
984         4        0.80   3.20          NaN        NaN
986         3        0.90   2.70       2004.0        NaN
991        10        1.20  12.00          NaN        NaN
995        10        0.80   8.00       2013.0        NaN
996         1        1.75   1.75       2028.0        NaN

[325 rows x 11 columns]

In [21]:
def get_discount(promocode):
    if promocode=="DISC10":
        return 10
    elif promocode=="DISC5":
        return 5
    else:
        return 0

data["discount"]=pd.Series([get_discount(promocode)/100 if promocode else 0 for promocode in data["promo_code"]])
data["effective_price"]=(data["total"]*(1-data["discount"]))

# Group by store
print(data.groupby("store_id")["effective_price"].sum())

# High value transactions
high_value_transactions=data.loc[data["effective_price"]>=10]
print(high_value_transactions)

store_id
1    3987.0075
2    3891.5450
3    4132.3425
Name: effective_price, dtype: float64
     transaction_id  store_id store_name       date  product_id product_name  \
3              1004         1   Downtown 2025-10-15         503      Stapler
12             1013         2     Suburb 2025-10-25         503      Stapler
13             1014         3    Airport 2025-10-07         505       Marker
14             1015         1   Downtown 2025-10-21         504       Folder
15             1016         1   Downtown 2025-10-23         501     Notebook
..              ...       ...        ...        ...         ...          ...
985            1986         3    Airport 2025-10-12         503      Stapler
987            1988         1   Downtown 2025-10-20         501     Notebook
990            1991         3    Airport 2025-10-22         501     Notebook
991            1992         3    Airport 2025-10-05         504       Folder
997            1998         3    Airport 2025-10-14         505       Marker

     quantity  unit_price  total  customer_id promo_code  discount  \
3           6        5.25  31.50       2081.0        NaN      0.00
12         10        5.25  52.50       2094.0      DISC5      0.05
13          6        1.75  10.50       2083.0        NaN      0.00
14         10        1.20  12.00          NaN        NaN      0.00
15          7        3.50  24.50          NaN        NaN      0.00
..        ...         ...    ...          ...        ...       ...
985        10        5.25  52.50          NaN      DISC5      0.05
987         8        3.50  28.00          NaN     DISC10      0.10
990         5        3.50  17.50       2045.0        NaN      0.00
991        10        1.20  12.00          NaN        NaN      0.00
997         7        1.75  12.25          NaN        NaN      0.00

     effective_price
3             31.500
12            49.875
13            10.500
14            12.000
15            24.500
..               ...
985           49.875
987           25.200
990           17.500
991           12.000
997           12.250

[372 rows x 13 columns]

### 3. Descriptive Statistics & Group Summaries

In [22]:
# Descriptive statistics
print(data.describe())

mean_total=data.groupby("store_id")["total"].mean()
std_total=data.groupby("store_id")["total"].std()

print("The mean total is",mean_total)
print("The standard deviation is",std_total)
print("Average basket:", data["total"].mean())

       transaction_id     store_id                           date  \
count     1000.000000  1000.000000                           1000
mean      1500.500000     2.026000  2025-10-15 16:33:36.000000256
min       1001.000000     1.000000            2025-10-01 00:00:00
25%       1250.750000     1.000000            2025-10-08 00:00:00
50%       1500.500000     2.000000            2025-10-16 00:00:00
75%       1750.250000     3.000000            2025-10-23 00:00:00
max       2000.000000     3.000000            2025-10-30 00:00:00
std        288.819436     0.824624                            NaN

        product_id     quantity   unit_price        total  customer_id  \
count  1000.000000  1000.000000  1000.000000  1000.000000   524.000000
mean    503.564000     5.426000     2.221400    12.352000  2050.389313
min     501.000000     1.000000     0.800000     0.800000  2001.000000
25%     502.000000     3.000000     0.900000     3.600000  2026.000000
50%     504.000000     5.000000     1.200000     7.200000  2049.000000
75%     505.000000     8.000000     3.500000    15.750000  2076.000000
max     506.000000    10.000000     5.250000    52.500000  2100.000000
std       1.702587     2.865787     1.634636    12.351248    28.803434

          discount  effective_price
count  1000.000000      1000.000000
mean      0.027650        12.010895
min       0.000000         0.720000
25%       0.000000         3.600000
50%       0.000000         7.200000
75%       0.050000        15.750000
max       0.100000        52.500000
std       0.038981        12.010264
The mean total is store_id
1    12.495260
2    12.535469
3    12.052975
Name: total, dtype: float64
The standard deviation is store_id
1    12.320301
2    12.739441
3    12.048276
Name: total, dtype: float64
Average basket: 12.352

### 4. Data Cleaning

In [23]:
# Fill missing values
data["promo_code"]=data["promo_code"].fillna("NONE")
data["customer_id"]=data["customer_id"].fillna(0)
print(data)

# Remove duplicates
data.drop_duplicates(inplace=True)

     transaction_id  store_id store_name       date  product_id product_name  \
0              1001         3    Airport 2025-10-08         506  Highlighter
1              1002         3    Airport 2025-10-20         502          Pen
2              1003         3    Airport 2025-10-07         504       Folder
3              1004         1   Downtown 2025-10-15         503      Stapler
4              1005         1   Downtown 2025-10-17         502          Pen
..              ...       ...        ...        ...         ...          ...
995            1996         1   Downtown 2025-10-02         502          Pen
996            1997         3    Airport 2025-10-02         505       Marker
997            1998         3    Airport 2025-10-14         505       Marker
998            1999         1   Downtown 2025-10-16         506  Highlighter
999            2000         1   Downtown 2025-10-26         502          Pen

     quantity  unit_price  total  customer_id promo_code  discount  \
0           4        0.90   3.60       2043.0     DISC10       0.1
1           2        0.80   1.60          0.0       NONE       0.0
2           6        1.20   7.20       2084.0       NONE       0.0
3           6        5.25  31.50       2081.0       NONE       0.0
4           4        0.80   3.20       2010.0       NONE       0.0
..        ...         ...    ...          ...        ...       ...
995        10        0.80   8.00       2013.0       NONE       0.0
996         1        1.75   1.75       2028.0       NONE       0.0
997         7        1.75  12.25          0.0       NONE       0.0
998         3        0.90   2.70          0.0       NONE       0.0
999        10        0.80   8.00       2084.0     DISC10       0.1

     effective_price
0               3.24
1               1.60
2               7.20
3              31.50
4               3.20
..               ...
995             8.00
996             1.75
997            12.25
998             2.70
999             7.20

[1000 rows x 13 columns]

### 5. Mini ETL Pipeline

In [27]:
import json

def etl_pipeline(input_csv, output_json):
    print(input_csv)
    data = pd.read_csv(input_csv)
    data["promo_code"] = data["promo_code"].fillna("NONE")

    # Fix datatypes
    data["date"] = pd.to_datetime(data["date"])
    data["total"] = data["total"].astype(float)
    data["customer_id"] = data["customer_id"].fillna(0)

    # Remove duplicates
    data.drop_duplicates(inplace=True)

    # Compute discount
    data["discount"] = data["promo_code"].apply(get_discount)

    # Compute effective price
    data["effective_price"] = data["total"] * (1 - data["discount"])

    # Save to JSON
    data.to_json(output_json, orient="records", indent=4, date_format="iso")

    print("ETL Pipeline Completed Successfully!")
    return data

input_csv="transactions_1000.csv"
output_json="transactions_1000_etl.json"
etl_pipeline(input_csv,output_json)

transactions_1000.csv
ETL Pipeline Completed Successfully!

,transaction_id,store_id,store_name,date,product_id,product_name,quantity,unit_price,total,customer_id,promo_code,discount,effective_price
0,1001,3,Airport,2025-10-08,506,Highlighter,4,0.90,3.60,2043.0,DISC10,10,-32.40
1,1002,3,Airport,2025-10-20,502,Pen,2,0.80,1.60,0.0,NONE,0,1.60
2,1003,3,Airport,2025-10-07,504,Folder,6,1.20,7.20,2084.0,NONE,0,7.20
3,1004,1,Downtown,2025-10-15,503,Stapler,6,5.25,31.50,2081.0,NONE,0,31.50
4,1005,1,Downtown,2025-10-17,502,Pen,4,0.80,3.20,2010.0,NONE,0,3.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1996,1,Downtown,2025-10-02,502,Pen,10,0.80,8.00,2013.0,NONE,0,8.00
996,1997,3,Airport,2025-10-02,505,Marker,1,1.75,1.75,2028.0,NONE,0,1.75
997,1998,3,Airport,2025-10-14,505,Marker,7,1.75,12.25,0.0,NONE,0,12.25
998,1999,1,Downtown,2025-10-16,506,Highlighter,3,0.90,2.70,0.0,NONE,0,2.70
999,2000,1,Downtown,2025-10-26,502,Pen,10,0.80,8.00,2084.0,DISC10,10,-72.00